*{
    margin: 0;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 170px 1fr 1fr;
    grid-template-columns: .7fr 3fr .9fr;
}


.header{
    background-color: #f8fafc;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}
.search{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search > * {
    margin: 1.2em;
}
.search input{
    margin-left: 0em;
    width: 80%;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 0.8em 1.2em;
    background-color: #e2e8f0;
    border: none;
}
.notification-icon{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.2em;

}
.avatar{
    grid-column: 3/5;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.user-info img{
    height: 65px;
    width: 65px;
}
.avatar img{
    height: 45px;
    width: 45px;
}
.user-info{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 1.2em;
}
p{
    font-size: 21px;
}
button{
    margin: 0.5em;
    background-color: #0ea5e9;
    color: #f8fafc;
    padding: 0.8em 1.9em;
    border-radius: 300px;
    font-size: 18px;
    border: none;
}
button:hover{
    color: #0ea5e9;
    border: 2px solid #0ea5e9;
    background-color: #f8fafc;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
button .new{
    grid-column: 2/3;
    grid-row: 2/3;
}
button .upload{
    grid-column: 3/4;
    grid-row: 2/3;
}
button .share{
    grid-column: 4/5;
    grid-row: 2/3;
}


.nav{
    background-color: #0ea5e9;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    padding-top: 1.2em;
    padding-left: 1.5em;
}
.nav-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}
.nav-links > i{
    font-size: 1.8em;
}
#dash{
    font-size: 2em;
}


.main{
    background-color: #e2e8f0;
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 50px minmax(200px,3fr);
}
.main h1{
    padding-top: 0.5em;
    padding-left: 0.5em;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
}
.cards .card{
    background-color: #f3f4f6;
    color: black;
    text-align: center;
    min-height: 200px;
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 1fr 0.3fr;
    max-height: 250px;
    border-radius: 10px;
}
.card .card-content{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.card .card-content .title{
    padding: 7px;
    font-weight: bold;
    font-size: 25px;
}
.card .card-content p{
    font-size: 18px;
}
.cards .card .icons{
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
    padding-right: 1.5em;
}

.announce{
    background-color: #e2e8f0;;
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 50px minmax(200px,3fr);
}
.announce h1{
    padding-top: 0.5em;
    padding-left: 0.5em;
}
.announcements{
    background-color: #f3f4f6;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    background-color: #f3f4f6;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    padding: 1em;
    margin: 1em;
}
.announcements .announcement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 2px solid #9ca3af;
    padding: 10px;
}
.announcements .announcement #title{
    font-weight: bold;
}


.trending{
    background-color: #e2e8f0;;
    grid-column: 3/4;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 50px minmax(200px,3fr);
}
.trending h1{
    padding-top: 0.5em;
    padding-left: 0.5em;
}
.trends{
    background-color: #f3f4f6;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    margin: 1em;
}
.trends .trend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 2.5em;
}
.trend img{
    height: 55px;
    width: 55px;
}
.body{
    color: #71717a;
}
